{% extends "orders/base.html" %}

{% block title %}
	Orders
{% endblock %}

{% block body %}
	<style>
		.flex-container {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-content: stretch;
		}
		.flex-container > div {
			background-color: #f1f1f1;
			width: 200px;
			margin: 10px;
			text-align: center;
			line-height: 75px;
			font-size: 30px;
		}
	</style>
	<p>Currently logged in as <b>{{ user.username }}</b></p>
	<a href="{% url 'logout' %}">Log out</a>
	<h1>Orders</h1>

	{% if pizza_items %}

		<h2>Pizzas</h2>

		<div class="flex-container">
		{% for pizza_t in pizza_items %}
			<div>
				<p>{{ pizza_t.item_type }}</p>
				{% for pizza_size in pizza_sizes %}
					{% ifequal pizza_size.0 'SMALL' %}
						<p>{{ pizza_size.1 }}: ${{ pizza_t.small_price }}</p>
					{% else %}
						<p>{{ pizza_size.1 }}: ${{ pizza_t.large_price }}</p>
					{% endifequal %}
				{% endfor %}
				{% if pizza_t.number_of_toppings > 0 %}
					<p>Toppings</p>
					<select>
						{% for topping in toppings %}
							<option value="{{ topping }}">{{ topping }}</option>
						{% endfor %}
					</select>
					{% if pizza_t.number_of_toppings > 1 %}
					<select>
						{% for topping in toppings %}
							<option value="{{ topping }}">{{ topping }}</option>
						{% endfor %}
					</select>
					{% endif %}
				{% endif %}
			</div>
		{% endfor %}
		</div>

	{% endif %}
	


	
	


{% endblock %}